body {
            margin: 0;
            padding: 0;
        }

        /* strts of navber section  1   */
        .nav {
            height: 100px;
            width: 1708px;
            background-color: rgba(130, 134, 101, 0.6);

        }

        .links {
            align-items: center;
            text-align: center;
            font-size: 30px;
            padding-top: 30px;
        }

        .links a {
            padding: 30px;
            text-decoration: none;
            color: rgb(46, 27, 4);

        }

        .links a:hover {
            text-decoration: underline;
        }

        /* ends of navber section  1  */

        /* starts of 2,3,4 part of body  */
        /*    starting of body section 2   */
        .picture-content {
            height: 600px;
            width: 1700px;
            /* border: 1px solid black; */
            margin-top: 5px;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-top: 30px;
            
        }

        .picture {
            height: 500px;
            width: 800px;
            /* border: 1px solid black; */
            margin-top: 20px;
            filter: drop-shadow( 0.25rem 0.25rem 0.5rem aqua );
        }

        .picture img {
            height:100%;
            width: 800px;
            /* border: 1px solid black; */
            border-radius: 10px;
           
        }

        .content {
            height: 500px;
            width: 800px;
            /* border: 1px solid rgb(197, 52, 52); */
            margin-top: 20px;
            overflow: scroll;
            font-size: 30px;
             /* box-shadow: 0.25rem 0.25rem 0.5rem aqua ; */
             background-color: #504b4b;
        }
        .content h1{
            color: rgb(218, 132, 21);
             align-items: center;
            text-align: center;
            text-decoration: underline;
        }
        
         .content h2{
            color: blanchedalmond;
            align-items: center;
            text-align: center;
            text-decoration: underline;
        }
        .content h3{
            color: rgb(180, 140, 79);
            align-items: center;
            text-align: center;
            text-decoration: underline; 
        }
        .content p{
            color: antiquewhite;
            
        }

        

        /*   end of body section 2  */
        /* ends of 2,3,4 part of body  */





        /*    starting of  footer section 5   */
        .footer {
            margin-top: 50px;
            margin-bottom: -20px;
            /* background-color: #dad0d0; */
            background-color: rgba(248, 245, 246, 0.8);
            filter: drop-shadow(0.25rem 0.25rem 0.25rem black);
            border-radius: 20% 20% 0% 0%;
        }

        .info {
            display: flex;
            justify-content: space-around;

        }

        .authore-info p {
            font-size: 20px;
        }

        .usefull-links p {
            font-size: 20px;
            color :black;
            text-decoration: none;
        }

        .usefull-links p:hover {
            text-decoration: underline;
            color: #149acf;

        }


        .icons img {
            height: 30px;
            width: 30px;
            border-radius: 50%;

        }

        .icons {
            align-items: center;
            text-align: center;
        }

        /*    ending of section5   */


        /*    starting of section 6  */
        .footer-lastpart {
            height: 50px;
            background-color: #5e5b5b;
            border-radius: 10 0px 10px 0;
            color: blanchedalmond;

        }

        .footer-lastpart p {
            align-items: center;
            text-align: center;
            padding-top: 10px;
            font-size: 20px;
            font-family: initial;
        }

        /*    ending of section  6 */